---
description: "Copywriter and content strategist in Melbourne, Australia"
---

<section class="hero">
  <div>
    <div class="hero__content">
      <h1>Ciao, I'm Fiorella!</h1>
      <p>I'm a copywriter and content strategist at <a href="https://envato.com/" target="_blank">Envato</a>, speaker at <a href="http://2016.worldiaday.org/" target="_blank">WorldIA Day</a>, occasional guest lecturer at <a href="https://medium.com/@damirkotoric/how-i-taught-information-architecture-to-aspiring-ux-designers-281ce61de42f" target="_blank">General Assembly</a>, and <a href="https://au.pinterest.com/partidibambola/owls/" target="_blank">avid owl connoisseur</a>. I speak 5 languages and have written 2 tourist guides on Sicily. You can catch me on <a href="https://twitter.com/fiorellarza" target="_blank">Twitter</a>, <a href="https://medium.com/@partidibambola" target="_blank">Medium</a> and <a href="https://www.linkedin.com/in/fiorellarizza" target="_blank">LinkedIn</a>.</p>
    </div>
  </div>
</section>

<div class="showreel">
  <div>
    <iframe src="https://player.vimeo.com/video/199301457?title=0&byline=0&portrait=0&color=ffffff&background=1" width="778" height="437" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <div class="showreel__noautoplayfallback">
      <iframe src="https://player.vimeo.com/video/199301457?title=0&byline=0&portrait=0&color=ffffff" width="778" height="437" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<section id="posts" class="posts">
  <div id="spinner" class="spinner">
    <div>
      <div class="spinner__dot1"></div>
      <div class="spinner__dot2"></div>
    </div>
  </div>
  <ul>
    <script id="handlebars-posts" type="text/x-handlebars-template">
      {{#each posts}}
      <li>
        <a href="{{url}}" target="_blank">
          <h3>{{title}}</h3>
          <div style="background-image: url({{image_url}})"></div>
        </a>
      </li>
      {{/each}}
    </script>
  </ul>
</section>
