---
description: "Owl"
---

<section class="hero">
  <div>
    <div class="hero__content">
      <div class="hero__showreel">
        <iframe src="https://player.vimeo.com/video/162033475?title=0&byline=0&portrait=0" width="778" height="437" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <h1>I’m a jack-of-digital-trades living in Australia but I also <a href="http://inside.envato.com/reflections-on-remote-working/" target="_blank">work around the world</a>. For the last 6 years I've been designing products and websites for companies, most notably <a href="http://envato.com" target="_blank">Envato</a>. I built <a href="https://github.com/damirkotoric/duello" target="_blank">Duello</a> to learn how to code. Now I’m launching my own <a href="http://falconfilms.com.au/" target="_blank">drone photography business</a>.</h1>
      <p>Fitsy the owl</p>
      <p>You can catch me on <a href="https://twitter.com/damirkotoric" target="_blank">Twitter</a> and <a href="https://medium.com/@damirkotoric" target="_blank">Medium</a>, where you can also <a href="https://medium.com/@damirkotoric/damir-s-portfolio-9f81d129d87b" target="_blank">find my portfolio</a>.</p>
      <img class="hero__signature" src="/images/signature.svg" alt="Damir Kotorić">
    </div>
  </div>
</section>

<section id="posts" class="posts">
  <div id="spinner" class="spinner">
    <div>
      <div class="spinner__dot1"></div>
      <div class="spinner__dot2"></div>
    </div>
  </div>
  <ul>
    <script id="handlebars-posts" type="text/x-handlebars-template">
      {{#each posts}}
      <li>
        <a href="{{url}}" target="_blank">
          <h3>{{title}}</h3>
          <div style="background-image: url({{image_url}})"></div>
        </a>
      </li>
      {{/each}}
    </script>
  </ul>
</section>
