.hero
  background: linear-gradient(-30deg, lighten($purple, 20%), $purple)
  background: url(/images/fiorella.jpg)
  color: $white
  display: flex
  align-items: center
  min-height: 100vh
  padding: 30px 0
  +susy-breakpoint($breakpoint-1...)
    padding: 90px 0 90px

  > div
    +container

  img
    max-width: 100%

  a
    color: $white
    &:hover
      color: darken($white, 10%)
    &:visited
      color: darken($white, 10%)

.hero__content
  +pad(20px)
  +susy-breakpoint($breakpoint-1...)
    +pad(2 of 12)

.hero__showreel
  box-shadow: 0 0 1px rgba($white, 0.6)
  margin-bottom: 30px
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%
  +susy-breakpoint($breakpoint-1...)
    margin-bottom: 60px

  object, embed, iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.hero__signature
  display: inline-block
  height: 20px
  top: -15px
  pointer-events: none
  margin-top: 30px
  position: relative
  +susy-breakpoint($breakpoint-1...)
    margin-top: 60px
  +susy-breakpoint($breakpoint-3...)
    height: 25px
    top: -19px
